
#dashh1{
    position: absolute;
    font-size: 15rem;
    font-family: 'bytesized';
    z-index: 11;
    pointer-events: none;
left:5%;   
}

p#dash{
    font-family: Montserrat;
    position: absolute;
    font-size: 3rem;
    color: white;
    bottom: 30%;
    left: 10%;
    font-weight: 500;
    z-index: 11;
    pointer-events: none;
}