*{
    margin: 0;
    padding: 0;
}
.homecontainer{
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    text-align: center;
}


.info{
 
    width: min-content;
    height: min-content;
    font-family: "Bytesized", sans-serif;
   position: absolute; 
    font-size: 14rem;
    z-index: 100 ;  
    top: 30%;
    left: 20%;
    cursor: auto;
    user-select: none;
    text-align: left;
}
.Login-btn {
    pointer-events: all;
    transition: box-shadow 0.08s ease-in-out;
    font-family:"Bytesized", sans-serif;
    padding:6px 24px;
    position: absolute;
    top: 20px;
    right: 25px;
    border-radius: 15px;
    border: none;
    background-color: aliceblue;
    color: black;
    font-size: 1.5rem;
    opacity: 1;
    box-shadow: 0 0 5px cyan,0 0 25px cyan;
}
.Login-btn:hover{
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan, 0 0 200px cyan;
}
a{
    
        height: 20px;
    width:min-content; text-decoration: none;}

#aboutus {
    pointer-events: all;
    width: 200px;
    height:50px;
    position: inherit;
top: 10%;
right: 0;   
}
#aboutus a p {


font-family:"Bytesized", sans-serif ;
    color: white;
    font-size: 2rem;
}

#content {
    text-align-last: bottom;
width: max-content;
    position: inherit ;
font-family:  "Poppins", sans-serif;
   font-size:.5rem;
   bottom: 10%;
   left: 0;

    
}